In [285]:
import numpy as np
import pandas as pd
import datetime as dt

In [286]:
books = pd.read_csv(r"C:\Users\Kanishk Rajput\campusX\books.csv")

## Overview of the Dataset on Best Books of the 20th Century
**This dataset comprises information about the best books published during the 20th century (from January 1st, 1901, to December 31st, 2000), scraped from Goodreads.com using Beautiful Soup. It includes 7597 books as rows and 16 columns. For each book, data such as the book's title, author's name, average rating, overall rating, publication date, description, total pages, genres, author's followers on Goodreads, total number of reviews, total number of books by the author, and star ratings are collected. This dataset offers a comprehensive view of the literary landscape during the 20th century, providing insights into popular books, authors, genres, reader preferences, and the impact of technological advancements on literature during that era.**

## *Summary of Cleaned Book Dataset:-*
**Contains 7597 Rows and 15 Columns**
- **title:** The name of the book.
- **authors:** Author name.
- **rating:** Total number of Rating for each book.
- **average_rating:** Number of Average Rating for each book.
- **date_of_publication:** Year in which the book was first published.
- **total_pages:** Number of pages in the book.
- **genres:** The genre the book belongs to (a style or category of art, music, or literature).
- **author_followers:** Number of followers of the author on the website.
- **no_of_reviews:** Total number of reviews given to the book.
- **no_of_books_by_author:** Number of books written by that author.
- **one_star_ratings:** Number of 1-star ratings out of 5 (Worse).
- **two_star_ratings:** Number of 2-star ratings out of 5 (Bad).
- **three_sta_ratings:** Number of 3-star ratings out of 5 (Average).
- **four_star_ratings:** Number of 4-star ratings out of 5 (Best).
- **five_star_ratings:** Number of 5-star ratings out of 5 (Excellent).

In [287]:
# Displaying Top 5 Rows in the Books Dataset
books.head()

,title,authors,average_rating,rating,date_of_publication,descriptions,total_pages,genres,author_followers,no_of_reviews,no_of_books_by_author,one_star_ratings,two_star_ratings,three_star_ratings,four_star_ratings,five_star_ratings
0,The Princess Bride,William Goldman,4.27,"895,758 rating","September 1, 1973",What happens when the most beautiful girl in t...,429,"['Fantasy', 'Classics', 'Fiction', 'Romance', ...","2,458 follower","25,792 review",95,"17,246 (1%)","29,346 (3%)","117,763 (13%)","263,834 (29%)","467,569 (52%)"
1,The Call of the Wild,Jack London,3.90,"426,075 rating","January 1, 1903","First published in 1903, The Call of the Wild ...",172,"['Fiction', 'Classics', 'Adventure', 'Young Ad...","6,793 follower","15,288 review","6,596","9,779 (2%)","25,324 (5%)","99,071 (23%)","154,416 (36%)","137,485 (32%)"
2,The Trial,Franz Kafka,3.96,"321,606 rating","April 26, 1925","Written in 1914 but not published until 1925, ...",255,"['Classics', 'Fiction', 'Philosophy', 'Literat...",29.1k follower,"14,149 review","2,759","7,147 (2%)","19,124 (5%)","65,444 (20%)","118,343 (36%)","111,548 (34%)"
3,She's Come Undone,Wally Lamb,3.91,"345,419 rating","August 24, 1992","In this extraordinary coming-of-age odyssey, W...",465,"['Fiction', 'Contemporary', 'Chick Lit', 'Adul...","7,597 follower","11,175 review",14,"11,746 (3%)","23,491 (6%)","71,975 (20%)","116,419 (33%)","121,788 (35%)"
4,Where the Sidewalk Ends,Shel Silverstein,4.33,"1,393,675 rating","January 1, 1974","Come in... for where the sidewalk ends, Shel S...",176,"['Poetry', 'Childrens', 'Classics', 'Fiction',...","9,769 follower","12,447 review",111,"23,504 (1%)","39,640 (2%)","172,011 (12%)","371,976 (26%)","786,544 (56%)"

In [288]:
# Displaying Last 5 Rows in the Books Dataset
books.tail()

,title,authors,average_rating,rating,date_of_publication,descriptions,total_pages,genres,author_followers,no_of_reviews,no_of_books_by_author,one_star_ratings,two_star_ratings,three_star_ratings,four_star_ratings,five_star_ratings
7592,The Very Bloody History of Britain,John Farman,3.77,416 rating,"October 18, 1990",Warning: This book could change your ideas abo...,155,"['History', 'Nonfiction', 'Humor', 'Childrens'...",12 follower,44 review,62,8 (1%),36 (8%),114 (27%),142 (34%),116 (27%)
7593,Secolul meu: confesiunile unui intelectual eur...,Aleksander Wat,4.21,177 rating,"January 1, 1977",Convorbiri cu Czesław Miłosz„Carte a sfâşieril...,704,"['History', 'Nonfiction', 'Poland', 'Memoir', ...",9 follower,20 review,30,3 (1%),8 (4%),23 (12%),58 (32%),85 (48%)
7594,The Eight,Katherine Neville,3.92,"42,660 rating","December 27, 1988",Computer expert Cat Velis is heading for a job...,598,"['Fiction', 'Mystery', 'Historical Fiction', '...","1,347 follower","3,126 review",36,"1,262 (2%)","2,918 (6%)","8,626 (20%)","14,854 (34%)","15,000 (35%)"
7595,Eugenics and Other Evils : An Argument Against...,G.K. Chesterton,3.94,"1,140 rating","January 1, 1922","In the second decade of the twentieth century,...",179,"['Nonfiction', 'Philosophy', 'Politics', 'Scie...","5,082 follower",152 review,"3,406",19 (1%),68 (5%),262 (22%),405 (35%),386 (33%)
7596,An Armenian Sketchbook,Vasily Grossman,4.05,"1,043 rating","January 1, 1965",An NYRB Classics OriginalFew writers had to co...,160,"['Nonfiction', 'Travel', 'Russia', 'Memoir', '...",817 follower,163 review,42,9 (<1%),37 (3%),211 (20%),419 (40%),367 (35%)

In [289]:
# Random Sample of 5 Rows from the Books Dataset
books.sample(5)

,title,authors,average_rating,rating,date_of_publication,descriptions,total_pages,genres,author_followers,no_of_reviews,no_of_books_by_author,one_star_ratings,two_star_ratings,three_star_ratings,four_star_ratings,five_star_ratings
3251,Cash,Johnny Cash,4.02,"23,842 rating","January 1, 1997","He was the ""Man in Black,"" a country music leg...",310,"['Music', 'Biography', 'Nonfiction', 'Memoir',...",277 follower,854 review,194,623 (2%),"1,139 (4%)","4,488 (18%)","8,513 (35%)","9,079 (38%)"
3103,On Wings of Song,Thomas M. Disch,3.74,"1,019 rating","June 1, 1979","In a disturbing vision of the future, Daniel W...",359,"['Science Fiction', 'Fiction', 'Fantasy', 'Dys...",262 follower,68 review,315,38 (3%),98 (9%),246 (24%),347 (34%),290 (28%)
1530,The Piano Teacher,Elfriede Jelinek,3.57,"12,727 rating","January 1, 1983","The Piano Teacher, the most famous novel of El...",288,"['Fiction', 'Nobel Prize', 'Classics', 'German...",914 follower,"1,411 review",167,803 (6%),"1,452 (11%)","3,194 (25%)","4,192 (32%)","3,086 (24%)"
99,The Hound of the Baskervilles,Arthur Conan Doyle,4.13,"342,411 rating","March 25, 1902","In this, one of the most famous of Doyle's mys...",256,"['Mystery', 'Fiction', 'Crime', 'Classics', 'M...",22.4k follower,"12,175 review","11,300","2,362 (<1%)","9,348 (2%)","61,690 (18%)","135,936 (39%)","133,075 (38%)"
897,From Hell,Alan Moore,4.19,"41,007 rating","January 1, 1999","""I shall tell you where we are. We're in the m...",576,"['Graphic Novels', 'Comics', 'Horror', 'Fictio...",19.8k follower,"2,454 review","1,476",642 (1%),"1,716 (4%)","6,089 (14%)","13,385 (32%)","19,175 (46%)"

In [290]:
# Summary Information of the Books Dataset
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7597 entries, 0 to 7596
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   title                  7597 non-null   object
 1   authors                7597 non-null   object
 2   average_rating         7597 non-null   float64
 3   rating                 7597 non-null   object
 4   date_of_publication    7597 non-null   object
 5   descriptions           7549 non-null   object
 6   total_pages            7597 non-null   int64
 7   genres                 7597 non-null   object
 8   author_followers       7597 non-null   object
 9   no_of_reviews          7597 non-null   object
 10  no_of_books_by_author  7597 non-null   object
 11  one_star_ratings       7597 non-null   object
 12  two_star_ratings       7597 non-null   object
 13  three_star_ratings     7597 non-null   object
 14  four_star_ratings      7597 non-null   object
 15  five_star_ratings      7597 non-null   object
dtypes: float64(1), int64(1), object(14)
memory usage: 949.8+ KB

In [291]:
# Books with Missing Descriptions
books[books['descriptions'].isnull()]

,title,authors,average_rating,rating,date_of_publication,descriptions,total_pages,genres,author_followers,no_of_reviews,no_of_books_by_author,one_star_ratings,two_star_ratings,three_star_ratings,four_star_ratings,five_star_ratings
1876,Dogs in Lingerie,Danielle Willis,4.30,53 rating,"June 1, 1990",NaN,75,"['Poetry', 'Short Stories', 'Goth', 'Gothic']",5 follower,5 review,16,1 (1%),1 (1%),10 (18%),10 (18%),31 (58%)
2444,The Atlantic Monthly Puzzler Book,Emily Cox,4.83,6 rating,"December 1, 1986",NaN,140,[],56 book,0 review,56,0 (0%),0 (0%),0 (0%),1 (16%),5 (83%)
3317,Behind the State Capitol or Cincinnati Pike,John Wieners,4.52,31 rating,"January 1, 1975",NaN,204,['Poetry'],14 follower,4 review,60,1 (3%),1 (3%),1 (3%),6 (19%),22 (70%)
3341,جنگل واژگون,J.D. Salinger,3.61,"2,042 rating","January 1, 1947",NaN,94,"['Novels', 'Fiction', 'Short Stories', 'Americ...",15k follower,176 review,148,67 (3%),199 (9%),626 (30%),731 (35%),419 (20%)
3403,The divine and the decay,Bill Hopkins,4.32,19 rating,"January 1, 1957",NaN,234,['Fiction'],4 follower,4 review,3,0 (0%),0 (0%),4 (21%),5 (26%),10 (52%)
3409,Horatio Hornblower 1 - 11.,C.S. Forester,4.45,"1,697 rating","January 1, 1981",NaN,3420,"['Historical Fiction', 'Fiction', 'Classics', ...",878 follower,81 review,419,2 (<1%),23 (1%),157 (9%),543 (31%),972 (57%)
3487,Εξορία,Pavlos Matesis,4.67,6 rating,"January 1, 1982",NaN,84,[],49 follower,0 review,21,0 (0%),0 (0%),1 (16%),0 (0%),5 (83%)
3515,Human rights and legal defense in Northern Ire...,Lawyers Committee for Human Rights (U.S.),3.00,2 rating,"January 1, 1993",NaN,7,[],7 book,0 review,7,0 (0%),0 (0%),2 (100%),0 (0%),0 (0%)
3565,ვატერ(პო)ლოო ანუ აღდგენითი სამუშაოები,Guram Dochanashvili,4.42,210 rating,"January 1, 1980",NaN,139,['Georgian'],281 follower,11 review,32,2 (<1%),4 (1%),22 (10%),58 (27%),124 (59%)
3746,The Helmet,Richard Brown,3.47,89 rating,"February 1, 2000",NaN,224,"['Fantasy', 'Childrens', 'Fiction']",16 follower,4 review,979,2 (2%),8 (8%),34 (38%),36 (40%),9 (10%)
3876,Ποιήματα 1978-1987,Έκτωρ Κακναβάτος,5.00,3 rating,"January 1, 1990",NaN,318,[],19 book,0 review,19,0 (0%),0 (0%),0 (0%),0 (0%),3 (100%)
4473,დიდოსტატის კონსტანტინეს მარჯვენა; დიონისოს ღიმილი,Konstantine Gamsakhurdia,4.59,56 rating,"January 1, 1976",NaN,706,['Georgian'],152 follower,2 review,31,2 (3%),0 (0%),5 (8%),5 (8%),44 (78%)
4784,"Bloomsbury Birthday Quid: ""She Wasn't Soft""",T. Coraghessan Boyle,3.49,68 rating,"PaperbackPublished September 19, 1996",NaN,0,"['Short Stories', 'Fiction']","2,772 follower",16 review,153,5 (7%),8 (11%),17 (25%),25 (36%),13 (19%)
4838,Ace Of Aces,René Fonck,3.77,26 rating,"January 1, 1967",NaN,164,"['World War I', 'History', 'Biography']",8 book,7 review,8,0 (0%),1 (3%),8 (30%),13 (50%),4 (15%)
4867,The Knights of King Midas,Paul Berna,4.83,6 rating,"November 12, 1962",NaN,160,['Fiction'],10 follower,2 review,46,0 (0%),0 (0%),0 (0%),1 (16%),5 (83%)
4996,Fugle omkring fyret,Jacob Paludan,3.95,19 rating,"January 1, 1929",NaN,247,"['Fiction', 'Danish']",57 book,3 review,57,0 (0%),0 (0%),5 (26%),10 (52%),4 (21%)
5020,Madita und Lisabet aus Birkenlund. Sonderausga...,Astrid Lindgren,4.16,43 rating,"96 pages, HardcoverPublished August 1, 2003",NaN,96,"['Fiction', 'Childrens']","3,442 follower",0 review,"1,008",0 (0%),1 (2%),9 (20%),15 (34%),18 (41%)
5135,The Human Comedy By William Saroyan,-Dell-,4.17,36 rating,"December 15, 1966",NaN,0,['Fiction'],3 book,8 review,3,0 (0%),4 (11%),3 (8%),12 (33%),17 (47%)
5148,Richard's Cork Leg,Brendan Behan,3.81,21 rating,"June 1, 1974",NaN,87,[],138 follower,0 review,64,0 (0%),1 (4%),6 (28%),10 (47%),4 (19%)
5165,Le calice noir. Le secret des Templiers,Peter Berling,4.08,24 rating,"January 1, 1997",NaN,793,[],26 follower,0 review,66,0 (0%),1 (4%),6 (25%),7 (29%),10 (41%)
5181,Garden of Ashes,Cookie Mueller,4.58,45 rating,"January 1, 1990",NaN,120,[],142 follower,3 review,13,0 (0%),0 (0%),4 (8%),11 (24%),30 (66%)
5528,Schoolboy into war,H.E.L. Mellersh,4.25,4 rating,"January 1, 1978",NaN,200,[],5 follower,2 review,31,0 (0%),0 (0%),0 (0%),3 (75%),1 (25%)
5619,Μικρό βιβλίο για μεγάλα όνειρα,Tasos Leivaditis,4.54,271 rating,"January 1, 1987",NaN,76,"['Poetry', 'Poetry', 'Poetry']",69 follower,19 review,42,2 (<1%),2 (<1%),16 (5%),80 (29%),171 (63%)
5812,كيف ندعو الناس؟,محمد قطب,4.23,124 rating,"January 1, 2000",NaN,191,['Religion'],"1,444 follower",18 review,87,3 (2%),5 (4%),20 (16%),29 (23%),67 (54%)
5819,Menneske og maktene,Olav Duun,3.59,239 rating,"January 1, 1938",NaN,0,"['Classics', 'Fiction', 'Roman', 'Novels', 'Sc...",10 follower,6 review,45,12 (5%),18 (7%),79 (33%),76 (31%),54 (22%)
5933,Advanced Control Theory,A. Nagoor Kani,3.92,193 rating,"July 1, 1999",NaN,550,[],72 follower,7 review,12,18 (9%),13 (6%),23 (11%),52 (26%),87 (45%)
5955,Τα ποιήματα 1941-1956,Μανόλης Αναγνωστάκης,4.49,35 rating,"January 1, 1956",NaN,0,"['Poetry', 'Poetry', 'Poetry']",27 follower,2 review,21,0 (0%),2 (5%),2 (5%),8 (22%),23 (65%)
5958,Tree Book : Learning to Recognize Trees of Bri...,Roberta Parish,4.15,13 rating,"January 1, 1994",NaN,183,"['Science', 'Plants', 'Nonfiction']",2 book,2 review,2,0 (0%),1 (7%),3 (23%),2 (15%),7 (53%)
6010,William Faulkner's Light in August,Leslie A. Juhasz,3.90,309 rating,"July 1, 1988",NaN,71,"['Classics', 'Fiction', 'Southern', 'Literature']",4 book,17 review,4,14 (4%),23 (7%),59 (19%),98 (31%),115 (37%)
6215,Η Ελένη,Yiannis Ritsos,4.52,23 rating,"January 1, 1972",NaN,48,"['Poetry', 'Classics', 'Poetry', 'Classics', '...",276 follower,0 review,199,0 (0%),0 (0%),2 (8%),7 (30%),14 (60%)
6323,Junk Bonds and Corporate Raiders: Academe in t...,Camille Paglia,4.53,17 rating,"January 1, 1991",NaN,74,['Nonfiction'],"1,063 follower",0 review,30,0 (0%),0 (0%),2 (11%),4 (23%),11 (64%)
6341,Come and Go,Samuel Beckett,3.44,181 rating,"July 1, 1967",NaN,8,"['Plays', 'Drama', 'Classics', 'Irish Literatu...","5,808 follower",17 review,705,16 (8%),17 (9%),55 (30%),58 (32%),35 (19%)
6356,Повести и рассказы,Vitaly Bianki,4.29,17 rating,"January 1, 1966",NaN,0,"['Russian Literature', 'Russian Literature', '...",8 follower,0 review,233,0 (0%),0 (0%),3 (17%),6 (35%),8 (47%)
6373,Dark Angel / Heaven / Fallen Hearts / Garden o...,V.C. Andrews,4.46,373 rating,"August 15, 1990",NaN,0,['Young Adult'],"8,072 follower",12 review,325,4 (1%),17 (4%),28 (7%),78 (20%),246 (65%)
6399,Ιδιώνυμο,Katerina Gogou,4.48,305 rating,"January 1, 1980",NaN,47,"['Poetry', 'Greece', 'Poetry', 'Greece', 'Poet...",89 follower,12 review,11,0 (0%),1 (<1%),33 (10%),90 (29%),181 (59%)
6406,Little Boxes of Bewilderment: Suspense Comedies,Jack Ritchie,4.38,24 rating,"January 1, 1989",NaN,0,"['Short Stories', 'Humor', 'Short Stories', 'H...",14 follower,5 review,208,1 (4%),0 (0%),2 (8%),7 (29%),14 (58%)
6444,Olava Bilac e Fernando Pessoa: uma presença Br...,Ariano Suassuna,4.00,2 rating,"January 1, 1998",NaN,46,[],146 follower,0 review,56,0 (0%),0 (0%),1 (50%),0 (0%),1 (50%)
6496,"...καλά, εσύ σκοτώθηκες νωρίς",Χρόνης Μίσσιος,4.50,"1,571 rating","January 1, 1985",NaN,330,"['Politics', 'Literature', 'Nonfiction', 'Biog...",96 follower,63 review,8,5 (<1%),15 (<1%),119 (7%),490 (31%),942 (59%)
6544,الفكر المصري في العصر المسيحي,رأفت عبد الحميد,4.05,73 rating,"January 1, 2000",NaN,359,"['History', 'Religion']",27 follower,14 review,12,3 (4%),1 (1%),14 (19%),26 (35%),29 (39%)
6663,فلسفة العلو: الترانسندنس,Wolfgang Struve,3.48,29 rating,"January 1, 1969",NaN,344,"['Philosophy', 'Philosophy', 'Philosophy']",2 follower,3 review,4,5 (17%),1 (3%),6 (20%),9 (31%),8 (27%)
6728,Who Named the Daisy? Who Named the Rose?: A Ro...,Mary B. Durant,4.00,11 rating,"November 1, 1976",NaN,214,"['Plants', 'Nature', 'History', 'Science', 'He...",3 follower,4 review,4,1 (9%),0 (0%),2 (18%),3 (27%),5 (45%)
6781,Νεολιθική νυχτωδία στην Κρονστάνδη,Νίκος Καρούζος,4.32,34 rating,"January 1, 1987",NaN,26,"['Poetry', 'Poetry', 'Poetry']",11 follower,4 review,27,0 (0%),1 (2%),8 (23%),4 (11%),21 (61%)
6799,VILD-Hussen,Lars Molin,3.33,9 rating,"January 1, 1973",NaN,212,[],16 book,0 review,16,0 (0%),1 (11%),5 (55%),2 (22%),1 (11%)
7027,"Ποιήματα, 1943-1974",Έκτωρ Κακναβάτος,4.44,9 rating,"January 1, 1990",NaN,211,[],19 book,0 review,19,0 (0%),0 (0%),1 (11%),3 (33%),5 (55%)
7110,Scandinavian Fairy Tales,Giordano Pitt,4.20,10 rating,"January 1, 1962",NaN,149,[],5 book,4 review,5,0 (0%),0 (0%),3 (30%),2 (20%),5 (50%)
7337,djævlerier,Sophus Claussen,4.00,4 rating,"January 1, 1904",NaN,171,[],55 book,0 review,55,0 (0%),1 (25%),0 (0%),1 (25%),2 (50%)
7368,The Melendy Family,Elizabeth Enright,4.63,190 rating,"January 1, 1947",NaN,242,"['Fiction', 'Childrens', 'Realistic Fiction', ...",247 follower,12 review,51,1 (<1%),1 (<1%),10 (5%),43 (22%),135 (71%)
7412,Operation Narva,Harry Winter,3.17,12 rating,"January 1, 1993",NaN,218,[],2 follower,0 review,6,1 (8%),3 (25%),2 (16%),5 (41%),1 (8%)

In [292]:
# Duplicate Entries in the Books Dataset
books[books.duplicated()]

,title,authors,average_rating,rating,date_of_publication,descriptions,total_pages,genres,author_followers,no_of_reviews,no_of_books_by_author,one_star_ratings,two_star_ratings,three_star_ratings,four_star_ratings,five_star_ratings
2385,Autumn Lover,Elizabeth Lowell,3.77,"2,007 rating","April 1, 1996",\nLibrarian’s note: This is a previously-publi...,416,"['Romance', 'Historical Romance', 'Historical'...","1,823 follower",100 review,203,36 (1%),153 (7%),572 (28%),721 (35%),525 (26%)

In [293]:
# Books with the Title 'Autumn Lover
books[books['title'] == 'Autumn Lover']

,title,authors,average_rating,rating,date_of_publication,descriptions,total_pages,genres,author_followers,no_of_reviews,no_of_books_by_author,one_star_ratings,two_star_ratings,three_star_ratings,four_star_ratings,five_star_ratings
2384,Autumn Lover,Elizabeth Lowell,3.77,"2,007 rating","April 1, 1996",\nLibrarian’s note: This is a previously-publi...,416,"['Romance', 'Historical Romance', 'Historical'...","1,823 follower",100 review,203,36 (1%),153 (7%),572 (28%),721 (35%),525 (26%)
2385,Autumn Lover,Elizabeth Lowell,3.77,"2,007 rating","April 1, 1996",\nLibrarian’s note: This is a previously-publi...,416,"['Romance', 'Historical Romance', 'Historical'...","1,823 follower",100 review,203,36 (1%),153 (7%),572 (28%),721 (35%),525 (26%)

In [294]:
# Statistical Summary of the Books Dataset
books.describe()

       average_rating   total_pages
count     7597.000000   7597.000000
mean         4.018195    338.889957
std          0.265329    318.512818
min          0.000000      0.000000
25%          3.850000    192.000000
50%          4.030000    288.000000
75%          4.200000    416.000000
max          5.000000  14777.000000

In [295]:
# Books with an Average Rating of 0
books[books['average_rating'] == 0]

,title,authors,average_rating,rating,date_of_publication,descriptions,total_pages,genres,author_followers,no_of_reviews,no_of_books_by_author,one_star_ratings,two_star_ratings,three_star_ratings,four_star_ratings,five_star_ratings
7290,Colette,Colette,0.0,0 rating,"January 1, 1997",Brilliant stage performance profiles writings ...,0,[],"1,498 follower",0 review,555,0 (0%),0 (0%),0 (0%),0 (0%),0 (0%)

In [296]:
# Dropping the description column as it currently contains 98 null values and is not crucial for the analysis at this stage
books.drop('descriptions', axis=1, inplace = True)

In [297]:
# Dropping rows with null values from the Books dataset.
books.dropna(inplace = True)

In [298]:
# Removing commas from the 'author_followers' column in the Books dataset.
books['author_followers'] = books['author_followers'].str.replace(',','')

In [299]:
# Extracting the first word from the 'author_followers' column in the Books dataset
books['author_followers'] = books['author_followers'].str.split().str.get(0)

In [300]:
# Converting 'author_followers' values ending with 'k' to actual numeric values in the Books dataset.
condition = books['author_followers'].str.endswith('k')
books.loc[condition, 'author_followers'] = (books.loc[condition, 'author_followers'].str.split('k').str.get(0).astype(float) * 1000)

In [301]:
# Converting 'author_followers' column to integer data type in the Books dataset.
books['author_followers'] = books['author_followers'].astype(int)

In [302]:
# Cleaning and converting the 'no_of_reviews' column to integer data type in the Books dataset.
books['no_of_reviews'] = books['no_of_reviews'].str.split().str.get(0).str.replace(',','')

In [303]:
# Converting the 'no_of_reviews' column to integer data type in the Books dataset.
books['no_of_reviews'] = books['no_of_reviews'].astype(int)

In [304]:
# Removing commas from the 'no_of_books_by_author' column in the Books dataset.
books['no_of_books_by_author'] = books['no_of_books_by_author'].str.replace(',','')

In [305]:
# removing 'k' from the end and multiply by 1000 instead from the the no_of_books_by_author
condition = books['no_of_books_by_author'].str.endswith('k')
books.loc[condition, 'no_of_books_by_author'] = books[books['no_of_books_by_author'].str.contains('k')]['no_of_books_by_author'].str.replace('k','').astype(float)*1000

In [306]:
# changing the datatype of column no_of_books_by_author from object to int
books['no_of_books_by_author'] = books['no_of_books_by_author'].astype('int64')

In [307]:
# removing rating from the values
books['rating'] = books['rating'].str.split().str.get(0)

In [308]:
# removing comma's from the values
books['rating'] = books['rating'].str.replace(',','')

In [309]:
# changing the datatype of rating into int64
books['rating'] = books['rating'].astype('int64')

In [310]:
# Cleaning and converting the 'one_star_ratings' column to integer data type in the Books dataset.
books['one_star_ratings'] = books['one_star_ratings'].str.split().str.get(0).str.replace(',','').astype(int)

In [311]:
# Cleaning and converting the 'two_star_ratings' column to integer data type in the Books dataset.
books['two_star_ratings'] = books['two_star_ratings'].str.split().str.get(0).str.replace(',','').astype(int)

In [312]:
# Cleaning and converting the 'three_star_ratings' column to integer data type in the Books dataset.
books['three_star_ratings'] = books['three_star_ratings'].str.split().str.get(0).str.replace(',','').astype(int)

In [313]:
# Cleaning and converting the 'four_star_ratings' column to integer data type in the Books dataset.
books['four_star_ratings'] = books['four_star_ratings'].str.split().str.get(0).str.replace(',','').astype(int)

In [314]:
# Cleaning and converting the 'five_star_ratings' column to integer data type in the Books dataset.
books['five_star_ratings'] = books['five_star_ratings'].str.split().str.get(0).str.replace(',','').astype(int)

In [315]:
# Overview of Books Dataset Information
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7597 entries, 0 to 7596
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   title                  7597 non-null   object
 1   authors                7597 non-null   object
 2   average_rating         7597 non-null   float64
 3   rating                 7597 non-null   int64
 4   date_of_publication    7597 non-null   object
 5   total_pages            7597 non-null   int64
 6   genres                 7597 non-null   object
 7   author_followers       7597 non-null   int32
 8   no_of_reviews          7597 non-null   int32
 9   no_of_books_by_author  7597 non-null   int64
 10  one_star_ratings       7597 non-null   int32
 11  two_star_ratings       7597 non-null   int32
 12  three_star_ratings     7597 non-null   int32
 13  four_star_ratings      7597 non-null   int32
 14  five_star_ratings      7597 non-null   int32
dtypes: float64(1), int32(7), int64(3), object(4)
memory usage: 682.7+ KB

In [316]:
# Removing commas from the 'date_of_publication' column in the Books dataset.
books['date_of_publication'] = books['date_of_publication'].str.replace(',','')

In [317]:
# Replacing specific text in the 'date_of_publication' column in the Books dataset.
books['date_of_publication'] = books['date_of_publication'].str.replace('736 pages HardcoverPublished November 1 2000','November 1 2000')

In [318]:
# Removing 'PaperbackPublished' text from the 'date_of_publication' column in the Books dataset.
condition = books['date_of_publication'].str.contains('PaperbackPublished')
books.loc[condition, 'date_of_publication'] = books[books['date_of_publication'].str.contains('PaperbackPublished')]['date_of_publication'].str.split('d ').str.get(-1).str.strip()

In [319]:
# Removing 'pagesPublished' text from the 'date_of_publication' column in the Books dataset.
condition = books['date_of_publication'].str.contains('pagesPublished')
books.loc[condition, 'date_of_publication'] = books[books['date_of_publication'].str.contains('pagesPublished')]['date_of_publication'].str.split('d ').str.get(-1).str.strip()

In [320]:
# Removing 'HardcoverPublished' text from the 'date_of_publication' column in the Books dataset.
condition = books['date_of_publication'].str.contains('HardcoverPublished')
books.loc[condition, 'date_of_publication'] = books[books['date_of_publication'].str.contains('HardcoverPublished')]['date_of_publication'].str.split('d ').str.get(-1).str.strip()

In [321]:
# Removing the entry for the book 'Holy Bible: New International Version' from the Books dataset.
books.drop(books[books['title'] == 'Holy Bible: New International Version'].index, inplace=True)

In [322]:
# Dropping the row corresponding to the book titled 'قصص الأنبياء' from the Books dataset.
books.drop(books[books['title'] == 'قصص الأنبياء'].index, inplace=True)

In [323]:
# Dropping the row corresponding to the book titled 'The Essential Rumi' from the Books dataset.
books.drop(books[books['title'] == 'The Essential Rumi'].index, inplace=True)

In [324]:
# Dropping the row corresponding to the book titled 'Tao Te Ching' from the Books dataset.
books.drop(books[books['title'] == 'Tao Te Ching'].index, inplace=True)

In [325]:
# Dropping the row corresponding to the book titled 'A Brief Illustrated Guide to Understanding Islam' from the Books dataset.
books.drop(books[books['title'] == 'A Brief Illustrated Guide to Understanding Islam'].index, inplace=True)

In [326]:
# Dropping the row corresponding to the book titled 'La Biblia: Reina-Valera 1960' from the Books dataset.
books.drop(books[books['title'] == 'La Biblia: Reina-Valera 1960'].index, inplace=True)

In [327]:
# Dropping the row corresponding to the book titled 'Monkey: The Journey to the West' from the Books dataset.
books.drop(books[books['title'] == 'Monkey: The Journey to the West'].index, inplace=True)

In [328]:
# Dropping the row corresponding to the book with the publication date 'January 1 300' from the Books dataset.
books.drop(books[books['date_of_publication'] == 'January 1 300'].index, inplace=True)

In [329]:
# Dropping the row corresponding to the book with the publication date 'November 10 27' from the Books dataset.
books.drop(books[books['date_of_publication'] == 'November 10 27'].index, inplace=True)

In [330]:
# Dropping the row corresponding to the book with the publication date '371 pages Brochura' from the Books dataset.
books.drop(books[books['date_of_publication'] == '371 pages Brochura'].index, inplace=True)

In [333]:
# Extracting the year from the 'date_of_publication' column and creating a new 'year' column in the Books dataset.
books['year'] = books['date_of_publication'].str.split().str.get(-1).astype(int)

In [334]:
# Dropping rows from the Books dataset where the publication year is earlier than 1677.
books.drop(books[books['year'] < 1677].index, inplace = True)

In [335]:
# Converting the 'date_of_publication' column to datetime format with the format '%B %d %Y' in the Books dataset.
books['date_of_publication'] = pd.to_datetime(books['date_of_publication'], format='%B %d %Y')

In [336]:
# Current Overview of the Books Dataset Information
books.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7584 entries, 0 to 7596
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   title                  7584 non-null   object
 1   authors                7584 non-null   object
 2   average_rating         7584 non-null   float64
 3   rating                 7584 non-null   int64
 4   date_of_publication    7584 non-null   datetime64[ns]
 5   total_pages            7584 non-null   int64
 6   genres                 7584 non-null   object
 7   author_followers       7584 non-null   int32
 8   no_of_reviews          7584 non-null   int32
 9   no_of_books_by_author  7584 non-null   int64
 10  one_star_ratings       7584 non-null   int32
 11  two_star_ratings       7584 non-null   int32
 12  three_star_ratings     7584 non-null   int32
 13  four_star_ratings      7584 non-null   int32
 14  five_star_ratings      7584 non-null   int32
 15  year                   7584 non-null   int32
dtypes: datetime64[ns](1), float64(1), int32(8), int64(3), object(3)
memory usage: 770.2+ KB

In [337]:
# Removing duplicate entries from the Books dataset.
books.drop_duplicates(inplace = True)

In [338]:
# Dropping the 'year' column from the Books dataset.
books.drop('year', axis=1, inplace = True)

In [339]:
# Dropping the entry for the book titled 'Colette' from the Books dataset.
books.drop(books[books['title'] == 'Colette'].index, inplace=True)

In [340]:
books

,title,authors,average_rating,rating,date_of_publication,total_pages,genres,author_followers,no_of_reviews,no_of_books_by_author,one_star_ratings,two_star_ratings,three_star_ratings,four_star_ratings,five_star_ratings
0,The Princess Bride,William Goldman,4.27,895758,1973-09-01,429,"['Fantasy', 'Classics', 'Fiction', 'Romance', ...",2458,25792,95,17246,29346,117763,263834,467569
1,The Call of the Wild,Jack London,3.90,426075,1903-01-01,172,"['Fiction', 'Classics', 'Adventure', 'Young Ad...",6793,15288,6596,9779,25324,99071,154416,137485
2,The Trial,Franz Kafka,3.96,321606,1925-04-26,255,"['Classics', 'Fiction', 'Philosophy', 'Literat...",29100,14149,2759,7147,19124,65444,118343,111548
3,She's Come Undone,Wally Lamb,3.91,345419,1992-08-24,465,"['Fiction', 'Contemporary', 'Chick Lit', 'Adul...",7597,11175,14,11746,23491,71975,116419,121788
4,Where the Sidewalk Ends,Shel Silverstein,4.33,1393675,1974-01-01,176,"['Poetry', 'Childrens', 'Classics', 'Fiction',...",9769,12447,111,23504,39640,172011,371976,786544
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7592,The Very Bloody History of Britain,John Farman,3.77,416,1990-10-18,155,"['History', 'Nonfiction', 'Humor', 'Childrens'...",12,44,62,8,36,114,142,116
7593,Secolul meu: confesiunile unui intelectual eur...,Aleksander Wat,4.21,177,1977-01-01,704,"['History', 'Nonfiction', 'Poland', 'Memoir', ...",9,20,30,3,8,23,58,85
7594,The Eight,Katherine Neville,3.92,42660,1988-12-27,598,"['Fiction', 'Mystery', 'Historical Fiction', '...",1347,3126,36,1262,2918,8626,14854,15000
7595,Eugenics and Other Evils : An Argument Against...,G.K. Chesterton,3.94,1140,1922-01-01,179,"['Nonfiction', 'Philosophy', 'Politics', 'Scie...",5082,152,3406,19,68,262,405,386
7596,An Armenian Sketchbook,Vasily Grossman,4.05,1043,1965-01-01,160,"['Nonfiction', 'Travel', 'Russia', 'Memoir', '...",817,163,42,9,37,211,419,367

In [341]:
# Export DataFrame to CSV file
books.to_csv('books_cleaned.csv', index=False)